**Abiyyu Fathin Derian**

**IYKRA Data Felowship Batch 6**

----
# Data Loading

## Import Library

In [138]:
import pandas as pd
import numpy as np
from scipy.stats import skew

## Load Dataset

In [209]:
dataset = pd.read_csv('Seasons_Stats.csv')
dataset.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

----
# Data Preprocessing

## Get The Value in 2017

In [210]:
dataset_2017 = dataset.loc[dataset['Year'] == 2017]
dataset_2017

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
24096,24096,2017.0,Alex Abrines,SG,23.0,OKC,68.0,6.0,1055.0,10.1,...,0.898,18.0,68.0,86.0,40.0,37.0,8.0,33.0,114.0,406.0
24097,24097,2017.0,Quincy Acy,PF,26.0,TOT,38.0,1.0,558.0,11.8,...,0.750,20.0,95.0,115.0,18.0,14.0,15.0,21.0,67.0,222.0
24098,24098,2017.0,Quincy Acy,PF,26.0,DAL,6.0,0.0,48.0,-1.4,...,0.667,2.0,6.0,8.0,0.0,0.0,0.0,2.0,9.0,13.0
24099,24099,2017.0,Quincy Acy,PF,26.0,BRK,32.0,1.0,510.0,13.1,...,0.754,18.0,89.0,107.0,18.0,14.0,15.0,19.0,58.0,209.0
24100,24100,2017.0,Steven Adams,C,23.0,OKC,80.0,80.0,2389.0,16.5,...,0.611,282.0,333.0,615.0,86.0,88.0,78.0,146.0,195.0,905.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

## Reset Index The Column

In [211]:
dataset_2017 = dataset_2017.reset_index(drop=True)
dataset_2017.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,24096,2017.0,Alex Abrines,SG,23.0,OKC,68.0,6.0,1055.0,10.1,...,0.898,18.0,68.0,86.0,40.0,37.0,8.0,33.0,114.0,406.0
1,24097,2017.0,Quincy Acy,PF,26.0,TOT,38.0,1.0,558.0,11.8,...,0.750,20.0,95.0,115.0,18.0,14.0,15.0,21.0,67.0,222.0
2,24098,2017.0,Quincy Acy,PF,26.0,DAL,6.0,0.0,48.0,-1.4,...,0.667,2.0,6.0,8.0,0.0,0.0,0.0,2.0,9.0,13.0
3,24099,2017.0,Quincy Acy,PF,26.0,BRK,32.0,1.0,510.0,13.1,...,0.754,18.0,89.0,107.0,18.0,14.0,15.0,19.0,58.0,209.0
4,24100,2017.0,Steven Adams,C,23.0,OKC,80.0,80.0,2389.0,16.5,...,0.611,282.0,333.0,615.0,86.0,88.0,78.0,146.0,195.0,905.0

## Check The Column's Names

In [212]:
dataset_2017.columns

Index(['Unnamed: 0', 'Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP',
       'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2',
       'OBPM', 'DBPM', 'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

## Delete All-Missing Value Column & Unnamed Column

In [213]:
del dataset_2017['Unnamed: 0']
dataset_2017.head()

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2017.0,Alex Abrines,SG,23.0,OKC,68.0,6.0,1055.0,10.1,0.560,...,0.898,18.0,68.0,86.0,40.0,37.0,8.0,33.0,114.0,406.0
1,2017.0,Quincy Acy,PF,26.0,TOT,38.0,1.0,558.0,11.8,0.565,...,0.750,20.0,95.0,115.0,18.0,14.0,15.0,21.0,67.0,222.0
2,2017.0,Quincy Acy,PF,26.0,DAL,6.0,0.0,48.0,-1.4,0.355,...,0.667,2.0,6.0,8.0,0.0,0.0,0.0,2.0,9.0,13.0
3,2017.0,Quincy Acy,PF,26.0,BRK,32.0,1.0,510.0,13.1,0.587,...,0.754,18.0,89.0,107.0,18.0,14.0,15.0,19.0,58.0,209.0
4,2017.0,Steven Adams,C,23.0,OKC,80.0,80.0,2389.0,16.5,0.589,...,0.611,282.0,333.0,615.0,86.0,88.0,78.0,146.0,195.0,905.0

## Check The Missing Value for All Columns

In [214]:
dataset_2017.isna().sum()

Year        0
Player      0
Pos         0
Age         0
Tm          0
G           0
GS          0
MP          0
PER         0
TS%         2
3PAr        2
FTr         2
ORB%        0
DRB%        0
TRB%        0
AST%        0
STL%        0
BLK%        0
TOV%        2
USG%        0
blanl     595
OWS         0
DWS         0
WS          0
WS/48       0
blank2    595
OBPM        0
DBPM        0
BPM         0
VORP        0
FG          0
FGA         0
FG%         2
3P          0
3PA         0
3P%        46
2P          0
2PA         0
2P%         5
eFG%        2
FT          0
FTA         0
FT%        24
ORB         0
DRB         0
TRB         0
AST         0
STL         0
BLK         0
TOV         0
PF          0
PTS         0
dtype: int64

## Delete Columns "blanl" and "blank2"

In [215]:
dataset_2017 = dataset_2017.drop(['blanl', 'blank2'], axis=1)

## Recheck The Column That Contains All Value Null

In [216]:
dataset_2017.isna().sum()

Year       0
Player     0
Pos        0
Age        0
Tm         0
G          0
GS         0
MP         0
PER        0
TS%        2
3PAr       2
FTr        2
ORB%       0
DRB%       0
TRB%       0
AST%       0
STL%       0
BLK%       0
TOV%       2
USG%       0
OWS        0
DWS        0
WS         0
WS/48      0
OBPM       0
DBPM       0
BPM        0
VORP       0
FG         0
FGA        0
FG%        2
3P         0
3PA        0
3P%       46
2P         0
2PA        0
2P%        5
eFG%       2
FT         0
FTA        0
FT%       24
ORB        0
DRB        0
TRB        0
AST        0
STL        0
BLK        0
TOV        0
PF         0
PTS        0
dtype: int64

## Check Duplicated Player's Name

In [217]:
duplicated_player = dataset_2017[dataset_2017.duplicated('Player')]
duplicated_player.head(15)

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
2,2017.0,Quincy Acy,PF,26.0,DAL,6.0,0.0,48.0,-1.4,0.355,...,0.667,2.0,6.0,8.0,0.0,0.0,0.0,2.0,9.0,13.0
3,2017.0,Quincy Acy,PF,26.0,BRK,32.0,1.0,510.0,13.1,0.587,...,0.754,18.0,89.0,107.0,18.0,14.0,15.0,19.0,58.0,209.0
15,2017.0,Justin Anderson,SF,23.0,DAL,51.0,2.0,710.0,14.7,0.521,...,0.795,39.0,110.0,149.0,32.0,28.0,16.0,40.0,64.0,329.0
16,2017.0,Justin Anderson,SF,23.0,PHI,24.0,8.0,518.0,12.8,0.564,...,0.780,30.0,66.0,96.0,34.0,13.0,7.0,26.0,45.0,203.0
33,2017.0,Matt Barnes,SF,36.0,SAC,54.0,13.0,1367.0,10.2,0.501,...,0.758,55.0,241.0,296.0,149.0,36.0,17.0,83.0,138.0,413.0
34,2017.0,Matt Barnes,SF,36.0,GSW,20.0,5.0,410.0,10.7,0.569,...,0.870,15.0,76.0,91.0,45.0,12.0,9.0,24.0,47.0,114.0
56,2017.0,Bojan Bogdanovic,SF,27.0,BRK,55.0,54.0,1482.0,13.1,0.572,...,0.874,23.0,174.0,197.0,90.0,24.0,3.0,92.0,99.0,783.0
57,2017.0,Bojan Bogdanovic,SF,27.0,WAS,26.0,0.0,601.0,14.7,0.617,...,0.934,14.0,66.0,80.0,21.0,10.0,4.0,38.0,47.0,330.0
59,2017.0,Andrew Bogut,C,32.0,DAL,26.0,21.0,582.0,9.4,0.460,...,0.273,56.0,162.0,218.0,49.0,13.0,25.0,43.0,84.0,79.0
60,2017.0,Andrew Bogut,C,32.0,CLE,1.0,0.0,1.0,-35.3,NaN,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
66,2017.0,Corey Brewer,SF,30.0,HOU,58.0,8.0,923.0,7.5,0.491,...,0.727,21.0,93.0,114.0,61.0,37.0,11.0,36.0,104.0,242.0
67,2017.0,Corey Brewer,SF,30.0,LAL,24.0,3.0,358.0,13.3,0.490,...,0.750,11.0,41.0,52.0,36.0,24.0,8.0,19.0,29.0,129.0
71,2017.0,Anthony Brown,SF,24.0,NOP,9.0,0.0,143.0,5.9,0.415,...,NaN,6.0,20.0,26.0,6.0,5.0,1.0,5.0,13.0,34.0
72,2017.0,Anthony Brown,SF,24.0,ORL,2.0,0.0,16.0,18.5,0.500,...,NaN,2.0,5.0,7.0,2.0,0.0,0.0,1.0,2.0,9.0
82,2017.0,Jose Calderon,PG,35.0,LAL,24.0,11.0,292.0,9.1,0.508,...,1.000,8.0,34.0,42.0,51.0,7.0,1.0,26.0,22.0,80.0

## Drop Duplicated Player's Name

In [218]:
dataset_2017.drop_duplicates(subset ="Player", keep = 'last', inplace = True)
dataset_2017.head(15)

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2017.0,Alex Abrines,SG,23.0,OKC,68.0,6.0,1055.0,10.1,0.560,...,0.898,18.0,68.0,86.0,40.0,37.0,8.0,33.0,114.0,406.0
3,2017.0,Quincy Acy,PF,26.0,BRK,32.0,1.0,510.0,13.1,0.587,...,0.754,18.0,89.0,107.0,18.0,14.0,15.0,19.0,58.0,209.0
4,2017.0,Steven Adams,C,23.0,OKC,80.0,80.0,2389.0,16.5,0.589,...,0.611,282.0,333.0,615.0,86.0,88.0,78.0,146.0,195.0,905.0
5,2017.0,Arron Afflalo,SG,31.0,SAC,61.0,45.0,1580.0,9.0,0.559,...,0.892,9.0,116.0,125.0,78.0,21.0,7.0,42.0,104.0,515.0
6,2017.0,Alexis Ajinca,C,28.0,NOP,39.0,15.0,584.0,12.9,0.529,...,0.725,46.0,131.0,177.0,12.0,20.0,22.0,31.0,77.0,207.0
7,2017.0,Cole Aldrich,C,28.0,MIN,62.0,0.0,531.0,12.7,0.549,...,0.682,51.0,107.0,158.0,25.0,25.0,23.0,17.0,85.0,105.0
8,2017.0,LaMarcus Aldridge,PF,31.0,SAS,72.0,72.0,2335.0,18.6,0.532,...,0.812,174.0,350.0,524.0,139.0,46.0,89.0,98.0,158.0,1243.0
9,2017.0,Lavoy Allen,PF,27.0,IND,61.0,5.0,871.0,11.6,0.485,...,0.697,105.0,115.0,220.0,57.0,18.0,24.0,29.0,78.0,177.0
10,2017.0,Tony Allen,SG,35.0,MEM,71.0,66.0,1914.0,13.3,0.493,...,0.615,166.0,225.0,391.0,98.0,115.0,29.0,100.0,178.0,643.0
11,2017.0,Al-Farouq Aminu,SF,26.0,POR,61.0,25.0,1773.0,11.3,0.506,...,0.706,77.0,374.0,451.0,99.0,60.0,44.0,94.0,102.0,532.0
12,2017.0,Chris Andersen,C,38.0,CLE,12.0,0.0,114.0,11.6,0.497,...,0.714,9.0,22.0,31.0,5.0,5.0,7.0,5.0,20.0,28.0
13,2017.0,Alan Anderson,SF,34.0,LAC,30.0,0.0,308.0,5.0,0.494,...,0.750,3.0,21.0,24.0,11.0,3.0,0.0,7.0,35.0,86.0
16,2017.0,Justin Anderson,SF,23.0,PHI,24.0,8.0,518.0,12.8,0.564,...,0.780,30.0,66.0,96.0,34.0,13.0,7.0,26.0,45.0,203.0
17,2017.0,Kyle Anderson,SG,23.0,SAS,72.0,14.0,1020.0,12.5,0.525,...,0.789,33.0,175.0,208.0,91.0,51.0,26.0,39.0,63.0,246.0
18,2017.0,Ryan Anderson,PF,28.0,HOU,72.0,72.0,2116.0,13.5,0.583,...,0.860,112.0,218.0,330.0,68.0,32.0,14.0,55.0,142.0,979.0

## Reset Index

In [219]:
dataset_2017 = dataset_2017.reset_index(drop=True)
dataset_2017

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2017.0,Alex Abrines,SG,23.0,OKC,68.0,6.0,1055.0,10.1,0.560,...,0.898,18.0,68.0,86.0,40.0,37.0,8.0,33.0,114.0,406.0
1,2017.0,Quincy Acy,PF,26.0,BRK,32.0,1.0,510.0,13.1,0.587,...,0.754,18.0,89.0,107.0,18.0,14.0,15.0,19.0,58.0,209.0
2,2017.0,Steven Adams,C,23.0,OKC,80.0,80.0,2389.0,16.5,0.589,...,0.611,282.0,333.0,615.0,86.0,88.0,78.0,146.0,195.0,905.0
3,2017.0,Arron Afflalo,SG,31.0,SAC,61.0,45.0,1580.0,9.0,0.559,...,0.892,9.0,116.0,125.0,78.0,21.0,7.0,42.0,104.0,515.0
4,2017.0,Alexis Ajinca,C,28.0,NOP,39.0,15.0,584.0,12.9,0.529,...,0.725,46.0,131.0,177.0,12.0,20.0,22.0,31.0,77.0,207.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
482,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
483,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,0.346,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
484,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
485,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

## Recheck The Null Value

In [220]:
dataset_2017.isna().sum()

Year       0
Player     0
Pos        0
Age        0
Tm         0
G          0
GS         0
MP         0
PER        0
TS%        2
3PAr       2
FTr        2
ORB%       0
DRB%       0
TRB%       0
AST%       0
STL%       0
BLK%       0
TOV%       2
USG%       0
OWS        0
DWS        0
WS         0
WS/48      0
OBPM       0
DBPM       0
BPM        0
VORP       0
FG         0
FGA        0
FG%        2
3P         0
3PA        0
3P%       39
2P         0
2PA        0
2P%        4
eFG%       2
FT         0
FTA        0
FT%       18
ORB        0
DRB        0
TRB        0
AST        0
STL        0
BLK        0
TOV        0
PF         0
PTS        0
dtype: int64

## Change The Null Value for Columns 'TS%', '3PAr', 'FTr', 'TOV%', 'FG%', '2P%', 'eFG%'

In [221]:
dataset_2017.update(dataset_2017[['TS%', '3PAr', 'FTr', 'TOV%', 'FG%', '2P%', 'eFG%']].fillna(0.0))

## Recheck The Null Value

In [222]:
dataset_2017.isna().sum()

Year       0
Player     0
Pos        0
Age        0
Tm         0
G          0
GS         0
MP         0
PER        0
TS%        0
3PAr       0
FTr        0
ORB%       0
DRB%       0
TRB%       0
AST%       0
STL%       0
BLK%       0
TOV%       0
USG%       0
OWS        0
DWS        0
WS         0
WS/48      0
OBPM       0
DBPM       0
BPM        0
VORP       0
FG         0
FGA        0
FG%        0
3P         0
3PA        0
3P%       39
2P         0
2PA        0
2P%        0
eFG%       0
FT         0
FTA        0
FT%       18
ORB        0
DRB        0
TRB        0
AST        0
STL        0
BLK        0
TOV        0
PF         0
PTS        0
dtype: int64

## Check The Skewness of The Column '3P%'

In [223]:
skew(dataset_2017['3P%'].dropna())

-0.4563312064435094

## Fill The NaN of Column '3P%' with Its Median

In [224]:
dataset_2017['3P%'].fillna(dataset_2017['3P%'].median(), inplace=True)
dataset_2017['3P%'].isna().sum()

0

## Recheck The Null Value

In [225]:
dataset_2017.isna().sum()

Year       0
Player     0
Pos        0
Age        0
Tm         0
G          0
GS         0
MP         0
PER        0
TS%        0
3PAr       0
FTr        0
ORB%       0
DRB%       0
TRB%       0
AST%       0
STL%       0
BLK%       0
TOV%       0
USG%       0
OWS        0
DWS        0
WS         0
WS/48      0
OBPM       0
DBPM       0
BPM        0
VORP       0
FG         0
FGA        0
FG%        0
3P         0
3PA        0
3P%        0
2P         0
2PA        0
2P%        0
eFG%       0
FT         0
FTA        0
FT%       18
ORB        0
DRB        0
TRB        0
AST        0
STL        0
BLK        0
TOV        0
PF         0
PTS        0
dtype: int64

## Check The Skewness of The Column 'FT%'

In [226]:
skew(dataset_2017['FT%'].dropna())

-1.6536899360680632

## Fill The NaN of Column 'FT%' with Its Median

In [227]:
dataset_2017['FT%'].fillna(dataset_2017['FT%'].median(), inplace=True)
dataset_2017['FT%'].isna().sum()

0

## Recheck The Null Value

In [228]:
dataset_2017.isna().sum()

Year      0
Player    0
Pos       0
Age       0
Tm        0
G         0
GS        0
MP        0
PER       0
TS%       0
3PAr      0
FTr       0
ORB%      0
DRB%      0
TRB%      0
AST%      0
STL%      0
BLK%      0
TOV%      0
USG%      0
OWS       0
DWS       0
WS        0
WS/48     0
OBPM      0
DBPM      0
BPM       0
VORP      0
FG        0
FGA       0
FG%       0
3P        0
3PA       0
3P%       0
2P        0
2PA       0
2P%       0
eFG%      0
FT        0
FTA       0
FT%       0
ORB       0
DRB       0
TRB       0
AST       0
STL       0
BLK       0
TOV       0
PF        0
PTS       0
dtype: int64

-----
# Answer The Problem Questions

## 1. Who is the youngest and oldest player in the NBA in 2017 for each team (Tm)?

In [239]:
answer_1 = dataset_2017[['Player', 'Age', 'Tm']]
answer_1

                Player   Age   Tm
0         Alex Abrines  23.0  OKC
1           Quincy Acy  26.0  BRK
2         Steven Adams  23.0  OKC
3        Arron Afflalo  31.0  SAC
4        Alexis Ajinca  28.0  NOP
..                 ...   ...  ...
481        Cody Zeller  24.0  CHO
482       Tyler Zeller  27.0  BOS
483  Stephen Zimmerman  20.0  ORL
484        Paul Zipser  22.0  CHI
485        Ivica Zubac  19.0  LAL

[486 rows x 3 columns]

### Find The Youngest Player in Each Team

In [247]:
answer_1[['Tm', 'Player', 'Age']].groupby('Tm').min().reset_index()

     Tm            Player   Age
0   ATL   DeAndre' Bembry  22.0
1   BOS        Al Horford  20.0
2   BRK  Andrew Nicholson  21.0
3   CHI    Anthony Morrow  21.0
4   CHO    Aaron Harrison  21.0
5   CLE      Andrew Bogut  21.0
6   DAL      A.J. Hammons  21.0
7   DEN        Alonzo Gee  19.0
8   DET    Andre Drummond  20.0
9   GSW  Anderson Varejao  20.0
10  HOU       Bobby Brown  20.0
11  IND      Aaron Brooks  20.0
12  LAC     Alan Anderson  19.0
13  LAL    Brandon Ingram  19.0
14  MEM   Andrew Harrison  20.0
15  MIA      Dion Waiters  20.0
16  MIL       Gary Payton  19.0
17  MIN     Adreian Payne  20.0
18  NOP     Alexis Ajinca  20.0
19  NYK   Carmelo Anthony  21.0
20  OKC      Alex Abrines  20.0
21  ORL      Aaron Gordon  20.0
22  PHI    Alex Poythress  21.0
23  PHO     Alan Williams  19.0
24  POR   Al-Farouq Aminu  21.0
25  SAC  Anthony Tolliver  19.0
26  SAS       Bryn Forbes  20.0
27  TOR     Bruno Caboclo  21.0
28  UTA        Alec Burks  21.0
29  WAS  Bojan Bogdanovic  21.0

### Find The Oldest Player in Each Team

In [248]:
answer_1[['Tm', 'Player', 'Age']].groupby('Tm').max().reset_index()

     Tm                   Player   Age
0   ATL             Tim Hardaway  36.0
1   BOS             Tyler Zeller  31.0
2   BRK            Trevor Booker  36.0
3   CHI              Robin Lopez  35.0
4   CHO           Treveon Graham  31.0
5   CLE         Tristan Thompson  38.0
6   DAL             Yogi Ferrell  38.0
7   DEN          Wilson Chandler  36.0
8   DET            Tobias Harris  34.0
9   GSW            Zaza Pachulia  36.0
10  HOU            Troy Williams  34.0
11  IND           Thaddeus Young  32.0
12  LAC           Wesley Johnson  39.0
13  LAL              Tyler Ennis  37.0
14  MEM            Zach Randolph  40.0
15  MIA              Willie Reed  36.0
16  MIL               Tony Snell  39.0
17  MIN              Zach LaVine  34.0
18  NOP              Tim Frazier  33.0
19  NYK        Willy Hernangomez  32.0
20  OKC           Victor Oladipo  36.0
21  ORL            Terrence Ross  32.0
22  PHI  Timothe Luwawu-Cabarrot  32.0
23  PHO           Tyson Chandler  34.0
24  POR           Tim Quarterman  28.0
25  SAC      Willie Cauley-Stein  31.0
26  SAS              Tony Parker  39.0
27  TOR              Serge Ibaka  31.0
28  UTA               Trey Lyles  35.0
29  WAS               Trey Burke  32.0

## 2. Which player has the most minutes played (MP) in each position (Pos)?

In [250]:
answer_2 = dataset_2017[['Player', 'MP', 'Pos']]
answer_2

                Player      MP Pos
0         Alex Abrines  1055.0  SG
1           Quincy Acy   510.0  PF
2         Steven Adams  2389.0   C
3        Arron Afflalo  1580.0  SG
4        Alexis Ajinca   584.0   C
..                 ...     ...  ..
481        Cody Zeller  1725.0  PF
482       Tyler Zeller   525.0   C
483  Stephen Zimmerman   108.0   C
484        Paul Zipser   843.0  SF
485        Ivica Zubac   609.0   C

[486 rows x 3 columns]

In [252]:
answer_2[['Pos', 'Player', 'MP']].groupby('Pos').max().reset_index()

  Pos           Player      MP
0   C    Zaza Pachulia  3030.0
1  PF    Zach Randolph  2803.0
2  PG     Yogi Ferrell  2947.0
3  SF  Wilson Chandler  3048.0
4  SG      Zach LaVine  2796.0

## 3. Which team has the highest average total rebound percentage (TRB%), assist percentage (AST%), steal percentage (STL%), and block percentage (BLK%)?

In [253]:
answer_3 = dataset_2017[['Tm', 'TRB%', 'AST%', 'STL%', 'BLK%']]
answer_3

      Tm  TRB%  AST%  STL%  BLK%
0    OKC   4.5   5.5   1.7   0.6
1    BRK  11.1   5.4   1.3   2.2
2    OKC  14.2   5.4   1.8   2.6
3    SAC   4.6   7.4   0.7   0.4
4    NOP  16.0   3.1   1.7   3.1
..   ...   ...   ...   ...   ...
481  CHO  12.9   9.1   1.8   3.0
482  BOS  13.2  12.2   0.7   3.3
483  ORL  17.6   5.3   0.9   3.7
484  CHI   8.0   6.1   0.9   1.5
485  LAL  14.3   8.1   1.1   4.4

[486 rows x 5 columns]

In [264]:
avg_answer_3 = answer_3.groupby(['Tm'], as_index=False)['TRB%', 'AST%', 'STL%', 'BLK%'].mean()
avg_answer_3

<ipython-input-264-9cb763547b66>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  avg_answer_3 = answer_3.groupby(['Tm'], as_index=False)['TRB%', 'AST%', 'STL%', 'BLK%'].mean()

     Tm       TRB%       AST%      STL%      BLK%
0   ATL   9.627778  14.083333  1.438889  1.522222
1   BOS  10.360000  14.573333  1.366667  1.493333
2   BRK   9.894444  13.616667  1.483333  1.444444
3   CHI   9.343750  13.037500  1.543750  1.068750
4   CHO   9.617647  13.888235  1.300000  1.247059
5   CLE   9.668421  11.073684  1.194737  2.568421
6   DAL  10.852632  13.563158  1.536842  1.663158
7   DEN  10.829412  15.723529  1.747059  1.882353
8   DET  10.326667  13.200000  1.260000  1.173333
9   GSW  11.475000  13.943750  1.712500  2.675000
10  HOU   9.520000  12.493333  1.573333  1.506667
11  IND  10.156250  13.425000  1.437500  1.525000
12  LAC  10.586667  12.033333  1.993333  2.053333
13  LAL  10.287500  12.656250  1.843750  1.525000
14  MEM   9.750000  13.081250  1.612500  1.831250
15  MIA  10.057143  12.728571  1.485714  1.600000
16  MIL  10.841176  12.641176  1.888235  2.741176
17  MIN   9.680000  12.273333  2.413333  1.533333
18  NOP   8.970588  13.058824  1.582353  1.505882
19  NYK  10.880000  12.326667  1.493333  1.860000
20  OKC  10.053333  11.973333  1.366667  1.886667
21  ORL   9.894444  12.644444  1.238889  1.183333
22  PHI  10.818750  14.750000  1.325000  1.743750
23  PHO   9.841176  11.029412  1.400000  1.458824
24  POR  10.357143  12.778571  1.478571  1.707143
25  SAC   8.850000  13.912500  1.543750  1.337500
26  SAS   9.687500  14.900000  1.512500  1.906250
27  TOR  10.862500  10.700000  1.881250  2.025000
28  UTA  10.386667  12.673333  1.540000  1.726667
29  WAS  12.735294  11.811765  1.794118  1.100000

### Find The Highest Average TRB%

In [272]:
avg_answer_3[avg_answer_3['TRB%'] == avg_answer_3['TRB%'].max()][['Tm','TRB%']].reset_index()

   index   Tm       TRB%
0     29  WAS  12.735294

### Find The Highest Average AST%

In [273]:
avg_answer_3[avg_answer_3['AST%'] == avg_answer_3['AST%'].max()][['Tm','AST%']].reset_index()

   index   Tm       AST%
0      7  DEN  15.723529

### Find The Highest Average STL%

In [274]:
avg_answer_3[avg_answer_3['STL%'] == avg_answer_3['STL%'].max()][['Tm','STL%']].reset_index()

   index   Tm      STL%
0     17  MIN  2.413333

### Find The Highest Average BLK%

In [275]:
avg_answer_3[avg_answer_3['BLK%'] == avg_answer_3['BLK%'].max()][['Tm','BLK%']].reset_index()

   index   Tm      BLK%
0     16  MIL  2.741176

## 4. Who is the best player in your opinion based on his record stats?

To decide the best player, I choose the overall rating score based on these selected data, they are **AST, BLK, DRB, ORB, TRB, STL, TOV, PF, and PTS**. It is because these data is the inherent skill of the player.

In [283]:
answer_4 = dataset_2017[['Player', 'AST', 'BLK', 'DRB', 'ORB', 'TRB', 'STL', 'TOV', 'PF', 'PTS']]
answer_4

,Player,AST,BLK,DRB,ORB,TRB,STL,TOV,PF,PTS
0,Alex Abrines,40.0,8.0,68.0,18.0,86.0,37.0,33.0,114.0,406.0
1,Quincy Acy,18.0,15.0,89.0,18.0,107.0,14.0,19.0,58.0,209.0
2,Steven Adams,86.0,78.0,333.0,282.0,615.0,88.0,146.0,195.0,905.0
3,Arron Afflalo,78.0,7.0,116.0,9.0,125.0,21.0,42.0,104.0,515.0
4,Alexis Ajinca,12.0,22.0,131.0,46.0,177.0,20.0,31.0,77.0,207.0
...,...,...,...,...,...,...,...,...,...,...
481,Cody Zeller,99.0,58.0,270.0,135.0,405.0,62.0,65.0,189.0,639.0
482,Tyler Zeller,42.0,21.0,81.0,43.0,124.0,7.0,20.0,61.0,178.0
483,Stephen Zimmerman,4.0,5.0,24.0,11.0,35.0,2.0,3.0,17.0,23.0
484,Paul Zipser,36.0,16.0,110.0,15.0,125.0,15.0,40.0,78.0,240.0
485,Ivica Zubac,30.0,33.0,118.0,41.0,159.0,14.0,30.0,66.0,284.0

### Calculate The Average Overall Score

In [285]:
answer_4['Avg_Overall'] = answer_4.mean(axis=1)
answer_4

<ipython-input-285-02da5be4623b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  answer_4['Avg_Overall'] = answer_4.mean(axis=1)

,Player,AST,BLK,DRB,ORB,TRB,STL,TOV,PF,PTS,Avg_Overall
0,Alex Abrines,40.0,8.0,68.0,18.0,86.0,37.0,33.0,114.0,406.0,90.000000
1,Quincy Acy,18.0,15.0,89.0,18.0,107.0,14.0,19.0,58.0,209.0,60.777778
2,Steven Adams,86.0,78.0,333.0,282.0,615.0,88.0,146.0,195.0,905.0,303.111111
3,Arron Afflalo,78.0,7.0,116.0,9.0,125.0,21.0,42.0,104.0,515.0,113.000000
4,Alexis Ajinca,12.0,22.0,131.0,46.0,177.0,20.0,31.0,77.0,207.0,80.333333
...,...,...,...,...,...,...,...,...,...,...,...
481,Cody Zeller,99.0,58.0,270.0,135.0,405.0,62.0,65.0,189.0,639.0,213.555556
482,Tyler Zeller,42.0,21.0,81.0,43.0,124.0,7.0,20.0,61.0,178.0,64.111111
483,Stephen Zimmerman,4.0,5.0,24.0,11.0,35.0,2.0,3.0,17.0,23.0,13.777778
484,Paul Zipser,36.0,16.0,110.0,15.0,125.0,15.0,40.0,78.0,240.0,75.000000
485,Ivica Zubac,30.0,33.0,118.0,41.0,159.0,14.0,30.0,66.0,284.0,86.111111

### Define The Best Player

In [287]:
The_Best_Player = answer_4[answer_4['Avg_Overall'] == answer_4['Avg_Overall'].max()]
The_Best_Player

,Player,AST,BLK,DRB,ORB,TRB,STL,TOV,PF,PTS,Avg_Overall
457,Russell Westbrook,840.0,31.0,727.0,137.0,864.0,133.0,438.0,190.0,2558.0,657.555556

## 5.	Which team has the best average stat record of their players?

In [288]:
answer_5 = dataset_2017[['Player', 'Tm', 'AST', 'BLK', 'DRB', 'ORB', 'TRB', 'STL', 'TOV', 'PF', 'PTS']]
answer_5

,Player,Tm,AST,BLK,DRB,ORB,TRB,STL,TOV,PF,PTS
0,Alex Abrines,OKC,40.0,8.0,68.0,18.0,86.0,37.0,33.0,114.0,406.0
1,Quincy Acy,BRK,18.0,15.0,89.0,18.0,107.0,14.0,19.0,58.0,209.0
2,Steven Adams,OKC,86.0,78.0,333.0,282.0,615.0,88.0,146.0,195.0,905.0
3,Arron Afflalo,SAC,78.0,7.0,116.0,9.0,125.0,21.0,42.0,104.0,515.0
4,Alexis Ajinca,NOP,12.0,22.0,131.0,46.0,177.0,20.0,31.0,77.0,207.0
...,...,...,...,...,...,...,...,...,...,...,...
481,Cody Zeller,CHO,99.0,58.0,270.0,135.0,405.0,62.0,65.0,189.0,639.0
482,Tyler Zeller,BOS,42.0,21.0,81.0,43.0,124.0,7.0,20.0,61.0,178.0
483,Stephen Zimmerman,ORL,4.0,5.0,24.0,11.0,35.0,2.0,3.0,17.0,23.0
484,Paul Zipser,CHI,36.0,16.0,110.0,15.0,125.0,15.0,40.0,78.0,240.0
485,Ivica Zubac,LAL,30.0,33.0,118.0,41.0,159.0,14.0,30.0,66.0,284.0

In [289]:
answer_5['Avg_Overall'] = answer_4.mean(axis=1)
answer_5

<ipython-input-289-56e938f5807b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  answer_5['Avg_Overall'] = answer_4.mean(axis=1)

,Player,Tm,AST,BLK,DRB,ORB,TRB,STL,TOV,PF,PTS,Avg_Overall
0,Alex Abrines,OKC,40.0,8.0,68.0,18.0,86.0,37.0,33.0,114.0,406.0,90.000000
1,Quincy Acy,BRK,18.0,15.0,89.0,18.0,107.0,14.0,19.0,58.0,209.0,60.777778
2,Steven Adams,OKC,86.0,78.0,333.0,282.0,615.0,88.0,146.0,195.0,905.0,303.111111
3,Arron Afflalo,SAC,78.0,7.0,116.0,9.0,125.0,21.0,42.0,104.0,515.0,113.000000
4,Alexis Ajinca,NOP,12.0,22.0,131.0,46.0,177.0,20.0,31.0,77.0,207.0,80.333333
...,...,...,...,...,...,...,...,...,...,...,...,...
481,Cody Zeller,CHO,99.0,58.0,270.0,135.0,405.0,62.0,65.0,189.0,639.0,213.555556
482,Tyler Zeller,BOS,42.0,21.0,81.0,43.0,124.0,7.0,20.0,61.0,178.0,64.111111
483,Stephen Zimmerman,ORL,4.0,5.0,24.0,11.0,35.0,2.0,3.0,17.0,23.0,13.777778
484,Paul Zipser,CHI,36.0,16.0,110.0,15.0,125.0,15.0,40.0,78.0,240.0,75.000000
485,Ivica Zubac,LAL,30.0,33.0,118.0,41.0,159.0,14.0,30.0,66.0,284.0,86.111111

In [291]:
Avg_Overall_of_Team = answer_5[['Tm', 'Player', 'Avg_Overall']].groupby('Tm').mean().reset_index()
Avg_Overall_of_Team

     Tm  Avg_Overall
0   ATL   128.351852
1   BOS   159.192593
2   BRK   123.141975
3   CHI   130.763889
4   CHO   126.738562
5   CLE   120.865497
6   DAL    97.175439
7   DEN   138.993464
8   DET   154.185185
9   GSW   162.166667
10  HOU   159.622222
11  IND   146.618056
12  LAC   158.748148
13  LAL   133.729167
14  MEM   142.465278
15  MIA   164.753968
16  MIL   135.071895
17  MIN   157.555556
18  NOP   109.718954
19  NYK   149.622222
20  OKC   152.037037
21  ORL   116.061728
22  PHI   128.555556
23  PHO   135.196078
24  POR   154.849206
25  SAC   107.395833
26  SAS   149.194444
27  TOR   139.270833
28  UTA   152.333333
29  WAS   141.196078

### Rename The Name of Column

In [301]:
Avg_Overall_of_Team = Avg_Overall_of_Team.rename(columns={"Avg_Overall": "Avg_Overall_Team"})
Avg_Overall_of_Team

     Tm  Avg_Overall_Team
0   ATL        128.351852
1   BOS        159.192593
2   BRK        123.141975
3   CHI        130.763889
4   CHO        126.738562
5   CLE        120.865497
6   DAL         97.175439
7   DEN        138.993464
8   DET        154.185185
9   GSW        162.166667
10  HOU        159.622222
11  IND        146.618056
12  LAC        158.748148
13  LAL        133.729167
14  MEM        142.465278
15  MIA        164.753968
16  MIL        135.071895
17  MIN        157.555556
18  NOP        109.718954
19  NYK        149.622222
20  OKC        152.037037
21  ORL        116.061728
22  PHI        128.555556
23  PHO        135.196078
24  POR        154.849206
25  SAC        107.395833
26  SAS        149.194444
27  TOR        139.270833
28  UTA        152.333333
29  WAS        141.196078

### Define The Result of The team has the best average stat record of their players

In [302]:
Avg_Overall_of_Team[Avg_Overall_of_Team['Avg_Overall_Team'] == Avg_Overall_of_Team['Avg_Overall_Team'].max()][['Tm','Avg_Overall_Team']].reset_index()

   index   Tm  Avg_Overall_Team
0     15  MIA        164.753968